<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pocketlaw.tv_cld">

    <uses-feature android:name="android.software.leanback"
        android:required="true" />

    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:banner="@drawable/banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">

        <activity
            android:name="org.pocketlaw.tv_cld.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Leanback">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
